:root {
  /*Fonts*/
  --font: "Roboto", sans-serif;
  --font-DM-Sans: "DM Sans", sans-serif;

  /*Colors*/
  --color-white: #fff;
  --color-accent: #a18a68;
  --color-black: #000;
  --color-black-light: #222222;
  --color-dark-gray: #707070;
  --color-gray: #d8d8d8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: var(--color-black);
  text-align: center;
  font-size: 33px;
  font-weight: 500;
  line-height: 43px;
  font-family: var(--font-DM-Sans);
  margin: 0;
}
